APP_NAME = StrongNode.io
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_REGION = 
HOST = localhost
DB_USER = 
DB_PASSWORD = 
DB_NAME = kyc_db
DB_DIALECT = mysql
DB_POOL_MAX = 5
DB_POOL_MIN = 0
DB_POOL_ACQUIRE = 30000
DB_POOL_IDLE = 10000