@font-face {
  font-family: "Halyard";
  src: url("/src/assets/fonts/Halyard Display Bold.ttf");
}

@font-face {
  font-family: "Halyard-Book";
  src: url("/src/assets/fonts/Halyard Display Light.ttf");
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Variable.ttf");
}
